DB_HOST='str'
DB_PORT=5432
DB_USERNAME='str'
DB_PASSWORD='str'
DB_DATABASE='str'

UVICORN_SERVER_HOST='str'
UVICORN_SERVER_PORT=int

REDIS_HOST='str'
REDIS_PORT=6379
REDIS_PASSWORD='str'

APP_TITLE='str'
APP_VERSION='str'
APP_DOCS_URL='str'
APP_REDOC_URL='str'